body{
    margin: 0; 
    padding: 0; 
}

.navbar-container{
    width: 100%; 
}

#navbar-text{
    position: absolute; 
    margin-top: 1.4vh; 
    left: 90px; 
    font-family: 'Open Sans', sans-serif;
    color: black; 
}

#navbar-home{
    
    border: 2px black solid; 
    background-color: rgb(12, 12, 182); 
    border-radius: 4px; 
    padding: 8px; 
   
}

#navbar-logout{
    border: 2px black solid; 
    padding: 8px; 
    border-radius: 4px;  
    background-color: rgb(12, 12, 182); 
    margin-right: 30px; 
}

.navbar-container, a{
    text-decoration: none; 
    color: white;  
    float: right; 
    margin-left: 30px; 
    margin-top: 5px; 
    padding-top: 5px; 
    font-size: 1vw;     
    font-family: 'Open Sans', sans-serif;
}


#navbar-logo{ 
    width: 3%;
    position: absolute; 
    left: 50px; 
}

#navbar-seperator{  
    position: relative; 
    width: 100%; 
    top: 20px; 
}

.navbar-container a:hover{
    color: grey;  
}



.form-container{
    position: relative; 
    top: 100px;
    left: 50px;  
}



.footer-container{
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 10vh; 
    background-color: rgb(89,89,89); 
}

.footer-container a {
    color: white; 
    font-family: 'Open Sans', sans-serif; 
    margin-right: 2vw; 
    margin-top: 2.5vh; 
}

.footer-container a:hover{
    color: lightblue; 
}