<!DOCTYPE html>

<html>

<head>
    <title>TGuide-Contact/About Us</title>
    <link rel="icon" href="../static/assets/logoicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" corssorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/contactabout.css">

</head>


<body>

    <div class="box-wrapper">
        <img id="ico" src="../static/assets/logoicon.png">
        <span id="title">Contact/About Us</span>
        <p id="info">Email: kaito77117@gmail.com</p>
        <p id="phoneinfo">Phone Numbers: +65 9710 0848, +65 9489 3948</p>
        <p id="abtus">info about us</p>
        <button id="back" onclick="goBack()">Back</button>
        <script>
            function goBack() {
              window.history.back();
            }
            </script>


    </div>

</body>

</html>
