<!DOCTYPE html>

<html>

<head>
	<title>TGuide-Data Management</title>
	<link rel="icon" href="../static/assets/logoicon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorgin>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Varela+Round&display=swap" rel="styelsheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Varela+Round&display=swap" rel="styelsheet">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="styelsheet">
	<link rel="stylesheet" href="../css/account.css">
	<script src="../static/js/account.js"></script>
	<script src="../static/js/jquery-3.6.0.js"></script>

</head>

<body>

	<div class="signinbox-wrapper">
                <img id="icon" src="../static/assets/logoicon.png">
                <span id="signuptitle">Data Management</span>
                <input type="text" id="nationality" name="nationality" placeholder="Nationality"><br><br>
                <input type="text" id="gender" name="gender" placeholder="Gender"><br><br>
                <input type="text" id="age" name="age" placeholder="Age"><br><br><!--minlength="5"-->
                <input type="text" id="religion" name="religion" placeholder="Religion"><br><br>
                <button id="submit" value="submit" onclick="window.location.href='../templates/menu.html'">Submit</button>    
	</div>

</body>

