<!DOCTYPE html> 
<html> 

<head> 

    <title>TGuide-Data Management</title>
    <link rel="icon" href="../assets/logoicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" corssorigin>
<link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/datamanage.css"> 
    <script src="../javascript/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../javascript/system.js"></script>
</head>

    


<body> 
   
    <div class="header1-wrapper">
        <img id="logo" src="../assets/logoicon.png">
        <h id="headertitle1">TGuide</h>
        <h id="usrname">Username</h>
        <button id="usrdropdown" onclick="fadeInDelay();"></button>
        <button id="logout" onclick="window.location.href='../html/newhome.html'">Log Out</button>
    </div> 

    <div class="usrnamebox-wrapper">
      <button id="datamange" onclick="window.location.href='../html/datamange.html'">Change Information</button>
      <button id="settings" onclick="window.location.href='../html/settings.html'">Settings</button>
    </div>

  
  
    <div class="middle-container">
      <h id="midcontenth">Data Management</h>
      <button id="favatt">Favourite Attractions</button>
      <button id="genagreg">Gender/Age/Region</button>
      <button id="favact">Favourite Activities</button>
      <button id="favcountry">Favourite Countries</button>
      <button id="menubut" onclick="window.location.href='../html/menu.html'">Menu</button>
      <!--<button id="datamange">Data Management</button>-->
      
  </div>
<!--remember to add the users profile img to the img container and to also add a script to display the username of the user-->  

  <div class="botpanel">
    <button id="contactbut">Contact Us</button>
    <button id="abtusbut" href="../html/aboutus.html">About Us</button>
  </div>
  
 

    <script type="text/javascript" src="../javascript/system.js"></script>
    <script src="../javascript/jquery-3.6.0.js"></script>

  
</body>


  




