<!DOCTYPE html> 

<html> 

<head> 
    <title> Welcome to T-Guide</title> 
    <link rel="stylesheet" href="../static/css/home.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body> 

    <div class="navbar-container"> 
        <img id="navbar-logo" src="../static/assets/travelwebsitelogo.png">
        <h1 id="navbar-text"> TGuide </h1> 
        <a id="navbar-signup"href="#"> Sign up </a>
        <a id="navbar-login" href="#"> Log in </a> 
        <hr id="navbar-seperator"> 
    </div> 
    
</body>

</html> 