<!DOCTYPE html> 

<html> 

<head> 
    <title> Welcome to TGuide</title> 
    <link rel="stylesheet" href="../static/css/home.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
<body> 

    <div class="navbar-container"> 
        <img id="navbar-logo" src="../static/assets/travelwebsitelogo.png">
        <h1 id="navbar-text"> TGuide </h1> 
        <a id="navbar-signup"href="#"> Sign Up </a>
        <a id="navbar-login" href="/login"> Log In </a> 
        <hr id="navbar-seperator"> 
    </div> 
    <br>    
    <div class="body-container"> 
        <h1 id="welcome-text"> Welcome to TGuide! </h1> 
        <p id="explain-text"> Join TGuide to have full access to a travel guide which helps you choose what to do based on you! All you need to join TGuide is sign-up with some basic information about you!</p>
    </div> 

    <div class="button-container"> 
        <a id="body-signup" href="#"> Sign Up Now </a>
    </div>

    <div class="footer-container"> 
        <a id="about-us" href="#"> About Us </a>
        <a id="how-it-works" href="#"> How it Works </a>
        
    </div>
    
    <script src="../static/js/home.js"> </script> 
</body>

</html> 