<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      DO NOT USE HOME.HTML!!!!!!!!!ONLY USE NEWHOME.HTML -->



<!DOCTYPE html> 
<html> 

<head> 

    <title>TGuide</title>
    <link rel="icon" href="../static/assets/logoicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" corssorigin>
<link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/home.css"> 
    <script type="text/javascript" src="../static/js/home.js"></script>
    <script src="../javascript/jquery-3.6.0.js"></script>

</head>

    


<body> 
  



    <!--<img class="backgroundimg" src="../assets/country.png">-->

    <div class="intropopup-wrapper"> 
        <h id="introtitle">Welcome to TGuide!</h>
        <p id="introdescr">You're just a few clicks away from gaining access to multiple features... To start, just click the button below</p>
        <button id="introstart" onclick="fadeInDelay();">Let's Get Started!</button>
    </div>

    <div class="header1-wrapper">
        <img id="logo" src="../assets/logoicon.png">
        <h id="headertitle1">TGuide</h>
        <img id="usrlogo" href="../assets/usrlogo.png">
        <button id="login" onclick="window.location.href='../html/login.html'">Log In</button>
        <button id="signup"onclick="window.location.href='../html/signup.html'">Sign Up</button>
    </div> 
  
    <div class="middle-container">
      <h id="welcome">Welcome to TGuide</h>
      <p id="tguideinfo">Join TGuide to have full access to a travel guide that helps you choose what to do based on your preferences. All you need to do to join is sign up with some basic information, then all of it's yours!</p>
      <button id="signupnow" onclick="window.location.href='../html/signup.html'">Sign Up Now</button>
    </div>
  
  <div class="botpanel">
    <button id="contactbut" onclick="window.location.href='../html/contactabout.html'">Contact Us</button>
    <button id="abtusbut" onclick="window.location.href='../html/contactabout.html'">About Us</button>
  </div>
 

    <script type="text/javascript" src="../javascript/home.js"></script>


</body> 

</html> 

