<!DOCTYPE html> 
<html> 

<head> 

<title> Login to TGuide! </title>
<link rel="stylesheet" href="../static/css/login.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">


</head> 

<body> 
    <div class="navbar-container"> 
        <img id="navbar-logo" src="../static/assets/travelwebsitelogo.png">
        <h1 id="navbar-text"> TGuide </h1> 
        <a id="navbar-signup"href="#"> Sign Up </a>
        <a id="navbar-home" href="/"> Home </a> 
        <hr id="navbar-seperator"> 
    </div> 

    <div class="form-container"> 
        <form action="" class="login-form"> 
            <input id="email" type="text" name="email" placeholder="Email"> 
            <input id="password" type="text" name="password" placeholder="Password"> 
            <input id="submit" type="submit" value="Submit"> 
            
        </form> 
    </div> 

    <script src="../static/js/login.js"> </script>
</body> 

</html>