<!DOCTYPE html>

<html>

<head>
    <title>TGuide-Login</title>
    <link rel="icon" href="../static/assets/logoicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" corssorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/system.js"></script>
    <script src="../static/js/login.js"> </script>

</head>


<body>

    <div class="loginbox-wrapper">
        <img id="loginico" src="../static/assets/logoicon.png">
        <span id="logintitle">Log In</span>
        <input type="text" id="usrname" name="usrname" placeholder="Username"><br><br>
        <input type="text" id="email" name="email" placeholder="Email"><br><br>
        <input type="password" id="pasword" name="pasword" placeholder="Password"><br><br>
        <a id="recoverpass" href="../templates/recoverpass.html">Forgot your password?</a>
        <button id="submitdata" value="submit" onclick="window.location.href='../templates/menu.html'">Sign In</button>
        <a id="signup" href="../templates/signup.html">Not a member? Sign up!</a>
    </div>

</body>

</html>
