<!DOCTYPE html>

<html>

<head>
    <title>TGuide-Recover Password</title>
    <link rel="icon" href="../assets/logoicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" corssorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/recoverpass.css">

</head>


<body>

    <div class="box-wrapper">
        <img id="boxico" src="../assets/logoicon.png">
        <span id="title">Recover your password</span>
        <p id="recoverdescri">Enter your email below, and if connected with an account, an email will be sent to change your password.</p>
        <input type="text" id="email" name="email" placeholder="Email"><br><br>
        <button id="submitdata"  value="submit">Send</button>
    </div>

</body>

</html>