<!DOCTYPE html> 
<html> 

<head> 

<title> Sign Up for TGuide! </title>
<link rel="stylesheet" href="../static/css/signup.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head> 

<body> 
    <div class="navbar-container"> 
        <img id="navbar-logo" src="../static/assets/travelwebsitelogo.png">
        <h1 id="navbar-text"> TGuide </h1> 
        <a id="navbar-login"href="/login"> Login </a>
        <a id="navbar-home" href="/"> Home </a> 
        <hr id="navbar-seperator"> 
    </div> 

    <div class="form-container"> 
        <form action="" class="signup-form"> 
            <input id="email" type="text" name="email" placeholder="Email"> 
            <input id="password" type="text" name="password" placeholder="Password"> 
            <input id="submit" type="submit" value="Submit"> 
            
        </form> 
    </div> 

    <div class="alert-container" id="alert-container"> 
        <p id="alert-message">Account created!</p> 
    </div> 

    <div class="footer-container"> 
        <a id="about-us" href="#"> About Us </a>
        <a id="how-it-works" href="#"> How it Works </a>
        
    </div>

    <script src="../static/js/signup.js"> </script> 
</body> 

</html>