<!DOCTYPE html>

<html>

<head>
	<title>TGuide-Travel Planner</title>
	<link rel="icon" href="../static/assets/logoicon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorgin>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Varela+Round&display=swap" rel="styelsheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Varela+Round&display=swap" rel="styelsheet">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="styelsheet">
	<link rel="stylesheet" href="../static/css/travelplan.css">
	<script src="../static/js/trip.js"></script>
	<script src="../static/js/jquery-3.6.0.js"></script>

</head>

<body>

	<div class="signinbox-wrapper">
                <img id="icon" src="../static/assets/logoicon.png">
                <span id="signuptitle">New Trip:</span>
                <input type="text" id="location" name="location" placeholder="Location"><br><br>
                <input type="text" id="startdate" name="startdate" placeholder="Start Date"><br><br>
                <input type="text" id="enddate" name="enddate" placeholder="End Date"><br><br>
                <button id="submit" value="submit" onclick="window.location.href='../templates/menu.html'">Submit</button>    
	</div>

</body>

